{%extends "base.html" %}
{% block head %}{% endblock %}
{%block title %}Welcome{% endblock %}
{%block content %}
{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link href="{% static 'photoapp/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'photoapp/css/custom.css' %}" rel="stylesheet">
<div class="container">
  <h1>Flickr PhotoStream Sample</h1>
  <hr>
  <div id="searchDiv">
    <form action="" method="post">
    Enter Search Term: <input type="text" id="searchString" name="searchText" value="{{search}}" required maxlength="30" >
    <button class="btn btn-lg btn-primary" type="submit">Search</button>
    {%csrf_token%}
    </form>
  </div>
  <div id="photoContentDiv" style="opacity:0;">
    {% for row in photoposts %}

    {% if 'jpg' in row%}
    <div id="photoStreamDiv">
        <div id="imgDiv">
          <img id="imgFlickr"src='{{row}}'/>
        </div>
      {% elif 'https://' in row%}
      <div>
       | <a href='{{row}}' target="_blank">Flickr</a>
      </div>
       {% elif 'https%3A%2F%2F' in row%}
       <div id="fbDiv">
         <iframe src="https://www.facebook.com/plugins/like.php?href={{row}}" style="border:none" width="200px" height="60px"></iframe>
       </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
</div>
<script>
$(document).ready(function() {
  $('#photoContentDiv').delay(5000).animate({opacity: '1.0'}, 600);
});
</script>
{% endblock %}
